#banner-checkbox {
    display: none
  }
  
  #banner {
    background-color: tomato;
    min-height: 48px;
    margin-top: -84px;
    animation: banner-appear 1s 1s linear forwards;
  }
  
  #banner-inside {
    display: flex;
    align-items: center;
    flex: 1;
    transition: 1s;
    min-height: 64px;
  }
  
  #banner p {
    margin: 0;
    color: white;
    font-family: sans-serif;
    flex: 1;
  }
  
  #banner p a {
    display: block;
    line-height: 64px;
    color: white;
    text-decoration: none;
    flex: 1;
    padding-left: 24px;
  }
  
  #banner label {
    color: white;
    font-family: sans-serif;
    padding: 0 24px;
    line-height: 64px;
    display: block;
    font-size: 24px;
    cursor: pointer;
    transition: .25s;
    font-weight: 300
  }
  #banner label:hover {
    opacity: .64
  }
  
  #banner-checkbox:checked + #banner-inside {
    margin-top: -64px;
  }
  
  @keyframes banner-appear {
    to {
      margin: 0
    }
  }