@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bebas+Neue&family=Rubik+Mono+One&display=swap");

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    cursor: crosshair;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000000;
    box-shadow: inset 0 0 15px #ffffff;
}

.color {
    color: rgba(215, 133, 60, 0.839);
    text-shadow: 0 0 30px rgb(0, 0, 0);
    /* background: -webkit-linear-gradient(45deg, orange, aliceblue, orange,aliceblue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: "Rubik Mono One", monospace;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 20px;
    color: #e7eaf1;
    margin-bottom: 10px;
    /* box-shadow: inset 0 0 10px aliceblue; */
    padding-top: 25px;

}

.header .main-title {
    margin: 0;
    padding: 0;
}


.pre-main {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
    height: 0px;
    font-size: 14px;
    margin: 0px;
    padding: 25px;}




.profile-box {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 0;
    gap: 15px;
    box-shadow: inset 0 0 15px #ffffff;
    border-radius: 25px;
}

.profile-intro {
    padding: 0px 20px;
   width: 65%;
}
.profile-title {
    margin-bottom: 15px;
    font-family: "Rubik Mono One", monospace;
    text-transform: uppercase;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    text-align: left;
}
.profile-text {
    font-family: "montserrat", monospace;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: left;
    color:rgb(255, 255, 255);
    font-size: 12px;
}
.profile-pic {
    border-radius: 200px;
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    padding: 0;
}

#break:hover {
    color: aliceblue;
    cursor: pointer;
}
.upsidedown {
    display: inline-block;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

/* .intro-container .main-title {
    margin-bottom: 15px;
    font-family: "Rubik Mono One", monospace;
    text-transform: uppercase;
    font-weight: bolder;
} */

/* .sidebar {
    display: flex;
    height: 100%;
    color: aliceblue;
    width: 100%;
    padding: 5px 10px 15px 15px;
} */

/* .sidebar-intro {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Bebas Neue", monospace;
    letter-spacing: 1px;
    line-height: 25px;
    padding-right: 10px;
    text-align: justify;
} */

.fa-computer {
    padding-top: 10px;
    font-size: 25px;
}

/* .read-more {
    font-size: 14px;
    transition-duration: 0.1s;
    text-align: center;
    width: 80px;
    border-radius: 50px;
    padding: 5px;
    margin: 0;

}

.read-more:hover {
    color: white;
    text-shadow: 0 0 15px rgb(122, 122, 122);
    cursor: pointer;
}

.read-more:active {

    -webkit-text-stroke: 0.3px orange;

} */

/* form {
    display: flex;
    flex-direction: column;
    width: 95%;
}

label,
input,
textarea,
button {
    margin: 5px 0;
    padding: 10px;
    display: inline-block;
    border-radius: 25px;
    width: 100%;
    background-color: transparent;
    color: aliceblue;
    resize: vertical;
    font-family: "Anton", monospace;
}

.submit-button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.submit-button:hover {
    background-color: #ffb66eca;
    
} */

/* .intro-container {
    display: flex;
    flex-direction: column;
} */

.content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-auto-flow: dense;
    justify-content: center;
    padding: 5px;
}

.content .today {
    display: flex;
    flex-direction: column;
    background-image: url("https://i.pinimg.com/564x/22/61/ef/2261ef6f5365370e117c1f3fce4ac957.jpg");
    background-size: 100%;
    object-fit: cover;
    justify-content: end;
    align-items: start;
}

.content .time,
.content .todays-date {
    margin: 0;
    display: flex;
    color: rgba(255, 255, 255, 0.872);
    font-size: 40px;
    font-family: "Anton", monospace;
    text-shadow: 0 0 50px rgb(0, 0, 0);
    padding: 10px;
}

.content .quotes {
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: end;
    background-image: url("https://i.pinimg.com/564x/14/b1/2e/14b12e5f4aef3130884ce05b0a1d4fce.jpg");
    padding: 10px;
    background-size: 100%;
    object-fit: cover;
    letter-spacing: 1px;
}

.quotes #quote {
    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.884);
    font-size: 35px;
    font-family: "Anton", monospace;

}

.quotes #author {
    color: #e7eaf1c7;
    font-family: "Anton", monospace;
}

.small {
    font-size: 15px;
}

.small:hover {
    color: rgb(113, 113, 113);
    cursor: pointer;
}

.advice .small {
    display: flex;
    text-align: right;
    justify-content: left;
    align-items: start;
}

.content .picture {
    min-height: 250px;
}

.content .reference {
    background-image: url('https://i.pinimg.com/564x/c6/5c/54/c65c54d8d92230c5f50c7124c5e198ad.jpg');
    background-size: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.content .read {
    background-image: url('https://i.pinimg.com/564x/1d/fd/92/1dfd9220acc3475da8280890e6f8b12b.jpg');
    background-size: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.content .aboutme {
    background-image: url('https://i.pinimg.com/564x/1f/a1/aa/1fa1aa34551e8e89b8c5be6a85988066.jpg');
    background-size: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.content .cyber {
    background-image: url('https://i.pinimg.com/564x/23/06/89/23068927635fde753914673fc9168393.jpg');
    background-size: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-position-y: 10%;
}

.content .focus {
    background-image: url('https://i.pinimg.com/564x/6b/ae/d4/6baed4c0d06eb93c172435dd2e79f5d3.jpg');
    background-size: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-position: 50%;
}



.content .advice {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: end;
    align-items: start;
    background-image: url("https://i.pinimg.com/564x/e8/76/36/e87636b8e330d84490fe8aded6347402.jpg");
    text-transform: uppercase;
    padding: 10px;
    background-size: 100%;
    object-fit: cover;
    letter-spacing: 1px;
}

.advice button {
    background-color: transparent;
    border: none;
    text-align: left;
    justify-content: left;
    color: #ffffffe5;
    font-family: "Anton", monospace;
    font-size: 35px;
    text-transform: uppercase;
}

.advice p {
    color: #ffffff;
    font-family: "Anton", monospace;
    font-size: 16px;
    border-left: 1px solid rgb(255, 255, 255);
    padding-left: 5px;
    text-shadow: 0 0 20px black;
}



.activity .small {
    display: flex;
    text-align: right;
    justify-content: left;
    align-items: start;
}

.content .activity {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    justify-content: end;
    align-items: start;
    background-image: url("https://i.pinimg.com/564x/64/2f/45/642f451f47e3f80f14553ec0dca22fca.jpg");
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 1px;
}

.activity button {
    background-color: transparent;
    border: none;
    text-align: left;
    justify-content: left;
    color: #ffffffe5;
    font-family: "Anton", monospace;
    font-size: 35px;
    text-transform: uppercase;
}

#activityText {
    color: #ebebeb;
    font-family: "Anton", monospace;
    font-size: 16px;
    border-left: 1px solid white;
    padding-left: 5px;
    text-shadow: 0 0 20px black;
}


#showFormbutton:hover {
    cursor: pointer;
}


.boxes {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 5px #ffffff, 0 0 50px 0 rgb(88, 88, 88);
    border-radius: 25px;
    /* outline: 1px solid rgba(240, 248, 255, 0.434); */
}

.title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 6px;
    color: #ececec;
    font-family: "Anton", monospace;
    writing-mode: vertical-lr;
    margin-right: 10px;
}

.boxes .item {
    font-size: 20px;
    color: #e7eaf1c7;
}

.boxes .item:hover {
    color: #747474;
    cursor: pointer;
}

.boxes .item:active {
    color: white;
}

.boxes ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.boxes ul li {
    display: flex;
    font-family: "Bebas Neue", sans-serif;
}

ul li a {
    margin: 10px 0px 10px 0px;
}

@media (max-width: 700px) {
    body {
        box-shadow: inset 0 0 10px #ffffff;
    }

    .header {
        font-size: 15px;
    }

    .profile-box {
        gap: 0;
    }

    .profile-intro {
        width: 100%;
    }

    .todoList {
        display: none;
    }

    /* .pre-main {
        font-size: 10px;
        margin: 5px;
    } */

    .boxes {
        /* box-shadow:  inset 0 0 5px #ffffff; */
    }

    .boxes .title {
        margin-right: 20px;
    }

    .boxes ul {
        padding-left: 20px;
    }

    .content {
        grid-template-columns: 100%;
        justify-content: center;
    }

    .today {
        padding: 5px;
    }
}



@media (max-width: 300px) {

    .header,
    .main-title {
        font-size: 22px;
        padding: 0;
    }


}