
* {
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}

.list {
    max-height: 300px;
    line-height: 30px;
    flex-wrap: wrap;
}


.navB {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0), -5px -5px 0px 0px rgba(255, 255, 255, 0), 6px 6px 10px 2px rgba(0, 0, 0, 0.1), -5px -5px 10px 2px rgba(255, 255, 255), 3px 3px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 2px rgba(255, 255, 255, 1), 0 0 20px rgb(88, 169, 255);
    margin-top: 0;
    padding-left: 5px;
    text-transform: uppercase;
    line-height: 35px;
    background-color: #e7eaf1bd
}

.navB img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

#nav1 img {
    height: 150px;
    width: 150px;
    border-radius: 150px;
}

#nav1 {
    height: 250px;
    padding-top: 10px;
    margin-top: 0px;
    padding-top: 0;
    text-align: center;
    flex-direction: row;
    width: 300px;
}


#nav1  a {
    color: black;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0), -5px -5px 0px 0px rgba(255, 255, 255, 0), 6px 6px 10px 2px rgba(0, 0, 0, 0.1), -5px -5px 10px 2px rgba(255, 255, 255), 3px 3px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 2px rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
}


ul {
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    margin: 0px 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

ul li a .item {
    color: rgba(0, 0, 0, 0.861);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0), -5px -5px 0px 0px rgba(255, 255, 255, 0), 6px 6px 10px 2px rgba(0, 0, 0, 0.1), -5px -5px 10px 2px rgba(255, 255, 255), 3px 3px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 2px rgba(255, 255, 255, 1), 0 0 10px rgb(88, 169, 255);
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    line-height: normal;
 
}

li a .item {
display: flex;
flex-wrap: wrap;
width: 450px;
justify-content: center;
align-items: center;
}

.item:hover {
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 12px rgb(255, 255, 133);
}

#topTitle  {
    margin-top: 25px;
    
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    top: auto;
    text-align: center;
    color: white;
    background: url('https://as2.ftcdn.net/v2/jpg/03/15/11/81/1000_F_315118105_ld6nWZl5CXLyv5rIEHuPNtVjXFcJCfXn.jpg');
    background-size: auto 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
    color: black;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0), -5px -5px 0px 0px rgba(255, 255, 255, 0), 6px 6px 10px 2px rgba(0, 0, 0, 0.1), -5px -5px 10px 2px rgba(255, 255, 255), 3px 3px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 2px rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding: 5px;
    cursor:crosshair;
}




.title:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(25, 223, 213, 0.739);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0), -5px -5px 0px 0px rgba(255, 255, 255, 0), 6px 6px 10px 2px rgba(0, 0, 0, 0.1), -5px -5px 10px 2px rgba(255, 255, 255), 3px 3px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 2px rgb(255, 255, 255), 0 0 5px rgb(21, 232, 255);
transform: scale(1.01);

}


.mainButtons {
    border: none;
    background-color: #e7eaf100;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.goBack a{
color: currentColor;
height: 40px;
width: 40px;
font-size: small;
}



@keyframes shine {
    from {
        background-position: center 0;
    }

    to {
        background-position: center 200%;
    }
}


.description { 
    color: black;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0), -5px -5px 0px 0px rgba(255, 255, 255, 0), 6px 6px 10px 2px rgba(0, 0, 0, 0.1), -5px -5px 10px 2px rgba(255, 255, 255), 3px 3px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 2px rgba(255, 255, 255, 1), 0 0 20px rgb(52, 126, 255);
    line-height: 20px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    width: 250px;
    font-family: monospace;
    text-transform: uppercase;
    cursor:default;
    width: 450px;
}

.description.desIntro {
line-height: 20px;
margin-top: 10px;
margin-bottom: 5px;

}

@media (max-width: 600px) {


    .keyboard {
        width: 300px;
        margin-bottom: 5px;

    }

    .boxes {
        width: 300px;
        max-height: 350px;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .navB.boxes {
        flex-wrap: nowrap;
    }

    .title {
        font-size: 25px;
        width: 300px;
    }


    li a .item {
        width: 250px;
    }

    .description {
        width: 250px;
    }

    #boxR .title {
        margin-top: 20px;
    }


}