
    * {  
        list-style: none;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }
  
    #box2, #box5 { 
        padding-left: 15px;
        text-transform: uppercase;
        line-height: 35px; 
    }

    #box2 #box5, img {
        margin-left: 15px;
        height: 200px;
        width: 200px;
        margin-right: 35px;
        border-radius: 100px;
    }

    .hidden {
        display: none;
    }

    .list {
        height: 600px;  
        line-height: 30px; 
        flex-wrap: wrap;
    }

    ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 5px 0px;
    }

    ul li {
        margin: 15px 15px;
    }

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    top: auto;
    text-align: center;
    color: white;
    background: url('https://as2.ftcdn.net/v2/jpg/03/15/11/81/1000_F_315118105_ld6nWZl5CXLyv5rIEHuPNtVjXFcJCfXn.jpg');
    background-size: auto 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
    color: black;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0), -5px -5px 0px 0px rgba(255, 255, 255, 0), 6px 6px 10px 2px rgba(0, 0, 0, 0.1), -5px -5px 10px 2px rgba(255, 255, 255), 3px 3px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 2px rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding: 5px;
}

@keyframes shine {
    from {
        background-position: center 0;
    }

    to {
        background-position: center 200%;
    }
}


    .item {
        color: black;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0), -5px -5px 0px 0px rgba(255, 255, 255, 0), 6px 6px 10px 2px rgba(0, 0, 0, 0.1), -5px -5px 10px 2px rgba(255, 255, 255), 3px 3px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 2px rgba(255, 255, 255, 1);
        border-radius: 15px;
        padding: 10px;
        font-size: 16px;
    }

    .description {
        font-size: 16px;
    }


    

 @media (max-width: 600px)
 {

    .keyboard {
        width: 300px;
     
    }
    
    .boxes {
        width: 300px;
       
    }

    #box1 {
        font-size: 13px;
    }

    #box2, #box5 {
        font-size: 16px;
        padding-left: 10px;
    }

    #box2 img {
        height: 150px;
        width: 150px;
        margin-right: 5px;
    }

    .list {
        height: 600px;
    }


    .title {
        font-size: 45px;
        width: 300px;
    }
 }