/* header background */

body {
    margin: 0px;
}

#page-links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#minimal {
    padding: 5px 20px 5px 20px;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 20px;
    text-decoration: none;

}

#portfolio {
    padding: 5px 10px 5px 10px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

#aboutme {
    padding: 5px 10px 5px 10px;
    color: rgb(255, 255, 255);
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 20px;
    text-decoration: none;
}

.top,
.bottom {
    animation: neon1 1.5s ease-in-out infinite alternate;
}

#layer-0 {
    background: rgba(92, 71, 255, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgb(38, 3, 38) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92, 71, 255, 0)), color-stop(25%, rgba(0, 0, 0, 1)), color-stop(100%, rgb(80, 71, 255)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1)) 0%, rgba(0, 0, 0, 1) 25%, rgb(71, 89, 255) 100%;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1)) 25%, rgba(255, 71, 255, 1) 100%;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 71, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 71, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c47ff', endColorstr='#ff47ff', GradientType=0);
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: -5;
    margin: 0px;
}

#layer-1 {
    background: rgba(92, 71, 255, 1);
    background: -moz-linear-gradient(45deg, rgba(92, 71, 255, 1) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(92, 71, 255, 1)), color-stop(50%, rgba(92, 71, 255, 0)), color-stop(100%, rgba(92, 71, 255, 0)));
    background: -webkit-linear-gradient(45deg, rgba(92, 71, 255, 1) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    background: -o-linear-gradient(45deg, rgba(92, 71, 255, 1) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    background: -ms-linear-gradient(45deg, rgba(92, 71, 255, 1) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    background: linear-gradient(45deg, rgba(92, 71, 255, 1) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c47ff', endColorstr='#5c47ff', GradientType=1);
    height: 100%;
    width: 100%;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -5;
}

#layer-2 {
    background: rgba(92, 71, 255, 0);
    background: -moz-linear-gradient(-45deg, rgba(92, 71, 255, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(92, 71, 255, 0)), color-stop(50%, rgba(92, 71, 255, 0)), color-stop(100%, rgba(92, 71, 255, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(92, 71, 255, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(92, 71, 255, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(92, 71, 255, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(92, 71, 255, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c47ff', endColorstr='#5c47ff', GradientType=1);
    height: 100%;
    width: 100%;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -5
}

#layer-corner {
    background: rgb(251, 251, 251);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(30, 70, 180, 0) 54%, rgba(117, 24, 240, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(54%, rgba(96, 130, 223, 0)), color-stop(100%, rgba(117, 24, 240, 0)));
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(96, 130, 223, 0) 54%, rgba(117, 24, 240, 0) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(96, 130, 223, 0) 54%, rgba(117, 24, 240, 0) 100%);
    background: -ms-linear-gradient(top, rgb(249, 249, 249) 0%, rgba(96, 130, 223, 0) 54%, rgba(117, 24, 240, 0) 100%);
    background: linear-gradient(to bottom, rgb(78, 234, 255) 0%, rgba(96, 130, 223, 0) 54%, rgba(117, 24, 240, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47ffcb', endColorstr='#7518f0', GradientType=0);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -5;
    animation: layercorneranim 1.5s ease-in-out infinite alternate;
}

#hey {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 36%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -5;

}


#lines {
    background-size: 40px 40px;
    background-image: repeating-linear-gradient(0deg, #000000, #878888 2px, transparent 1px, transparent 40px), repeating-linear-gradient(-90deg, #f8efef, #3725daeb 2px, transparent 2px, transparent 40px);
    height: 100%;
    width: 100%;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
}

/* Header text background color effect */

@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #04feed, 0 0 10px rgb(0, 255, 0), 0 0 10px rgb(0, 0, 0);
    }

    to {
        text-shadow: 0 0 10px #c65dff, 0 0 10px orange, 0 0 10px black;
    }
}

/* Header background color effect */

@keyframes layercorneranim {
    from {
        height: 30%;
    }

    to {
        height: 100%;
    }
}

/* GRID layout 1
#grid {
    display: grid;
    grid-template: 80px 300px 120px / 70% auto;
    grid-row: auto;
    grid-column: auto;
    gap: 10px;
    margin: 50px;
}

#grid div:nth-child(1) {
    grid-column: 1 /span 2;
    background-color: rgba(0, 0, 0, 0.57);
}

#grid div:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.588);
}

#grid div:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.691);
}

#grid div:nth-child(4) {
    grid-column: 1 / span 2;
    background-color: rgba(0, 0, 0, 0.729);
    
}
*/

/* GRID layout 2 */

#grid {
    margin-top: 20px;
    gap: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center; 
   
}

#grid div:nth-child(1) {
    grid-area: 1;
    background-color: rgba(255, 255, 255, 0.456);
    
}

.image {
    height: 250px;
    width: 300px;
    margin: 5px;
    opacity: 0.7;
}

#grid div:nth-child(2) {
    grid-area: 3;
    background-color: rgba(255, 255, 255, 0.456);
}

#grid div:nth-child(3) {
    grid-area: 3;
    background-color: rgba(255, 255, 255, 0.456);
}

#grid div:nth-child(4) {
    grid-area: 4;
    background-color: rgba(255, 255, 255, 0.456);
}

#grid div:nth-child(5) {
    grid-area: 5;
    background-color: rgba(255, 255, 255, 0.456);
}

#grid div:nth-child(6) {
    grid-area: 6;
    background-color: rgba(255, 255, 255, 0.456);
}
#grid div:nth-child(7) {
    grid-area: 7;
    background-color: rgba(255, 255, 255, 0.456);
}
#grid div:nth-child(8) {
    grid-area: 8;
    background-color: rgba(255, 255, 255, 0.456); 
}
#grid div:nth-child(9) {
    grid-area: 9;
    background-color: rgba(255, 255, 255, 0.456); 
}

/* Mobile friendly css 

@media screen and (max-width:320px) {

    #grid {
        display: grid;
        grid-template: 310px 310px / 310px 310px 310px;
        grid-template-areas:
            "A B C"
            "D E F"
    }

    .grid {
        gap: 20px;
        margin-top: 20px;
        justify-content: center;
    }

    #grid div:nth-child(1) {
        grid-area: A;
        background-color: rgba(255, 255, 255, 0.456);
    }

    #forest-img {
        height: 300px;
        width: 300px;
        margin: 4px;
        opacity: 0.5;
    }

    #grid div:nth-child(2) {
        grid-area: B;
        border: black 3px solid;
    }

    #grid div:nth-child(3) {
        grid-area: C;
        border: black 3px solid;
    }

    #grid div:nth-child(4) {
        grid-area: D;
        border: black 3px solid;
    }

    #grid div:nth-child(5) {
        grid-area: E;
        border: black 3px solid;
    }

    #grid div:nth-child(6) {
        grid-area: F;
        border: black 3px solid;
    }

}
*/
/* SPLIT TEXT HEADER CODE */


:root {
    --text-color: hsl(0, 0%, 0%);
}

#split-head {
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 5px;
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1.5rem, 1rem + 7vw, 15rem);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
}

.top-wrapper>div {
    grid-area: 1/1/-1/-1;
}

.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
    clip-path: polygon(0% 63%, 100% 52%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, rgb(0, 0, 0) 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, rgb(0, 0, 0) 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
}