
#page-links {
    background-color: rgba(255, 255, 255, 0.793);
    font-size: 2vh;
    text-align: center;
    font-family: monospace;
    text-transform: lowercase;
    scrollbar-base-color: #1149ff;
    padding: 0;
    margin: 0;
    }

   
    .head-wrapper {
        animation: neon1 1.5s ease-in-out infinite alternate;
    }

.head-wrapper {
    animation: neon1 3.5s ease-in-out infinite alternate;
}

#split-head {
    margin: 0;
    padding: 0;
    position:auto;
    width: auto;
    text-align: center;
    font-size: 8vh;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: rgb(91, 89, 89);
}

#layer-0 {
    background: rgba(92, 71, 255, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgb(38, 3, 38) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92, 71, 255, 0)), color-stop(25%, rgba(0, 0, 0, 1)), color-stop(100%, rgb(80, 71, 255)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1)) 0%, rgba(0, 0, 0, 1) 25%, rgb(71, 89, 255) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1)) 25%, rgba(255, 71, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 71, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(255, 71, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c47ff', endColorstr='#ff47ff', GradientType=0);
    height: 100%;
    width: 100%;
    opacity: 0
    position:fixed;
    z-index: -5;
}

#layer-1 {
    background: rgba(92, 71, 255, 1);
    background: -moz-linear-gradient(45deg, rgba(92, 71, 255, 1) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(92, 71, 255, 1)), color-stop(50%, rgba(92, 71, 255, 0)), color-stop(100%, rgba(92, 71, 255, 0)));
    background: -webkit-linear-gradient(45deg, rgba(92, 71, 255, 1) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    background: -o-linear-gradient(45deg, rgba(92, 71, 255, 1) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    background: -ms-linear-gradient(45deg, rgba(92, 71, 255, 1) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    background: linear-gradient(45deg, rgba(92, 71, 255, 1) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c47ff', endColorstr='#5c47ff', GradientType=1);
    height: 100%;
    width: 100%;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -5;
}

#layer-2 {
    background: rgba(92, 71, 255, 0);
    background: -moz-linear-gradient(-45deg, rgba(92, 71, 255, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(92, 71, 255, 0)), color-stop(50%, rgba(92, 71, 255, 0)), color-stop(100%, rgba(92, 71, 255, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(92, 71, 255, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(92, 71, 255, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(92, 71, 255, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(92, 71, 255, 0) 0%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c47ff', endColorstr='#5c47ff', GradientType=1);
    height: 100%;
    width: 100%;
    opacity: 1;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    z-index: -5
}

#layer-corner {
    background: rgb(251, 251, 251);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(30, 70, 180, 0) 54%, rgba(117, 24, 240, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(54%, rgba(96, 130, 223, 0)), color-stop(100%, rgba(117, 24, 240, 0)));
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(96, 130, 223, 0) 54%, rgba(117, 24, 240, 0) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(96, 130, 223, 0) 54%, rgba(117, 24, 240, 0) 100%);
    background: -ms-linear-gradient(top, rgb(249, 249, 249) 0%, rgba(96, 130, 223, 0) 54%, rgba(117, 24, 240, 0) 100%);
    background: linear-gradient(to bottom, rgb(78, 234, 255) 0%, rgba(96, 130, 223, 0) 54%, rgba(117, 24, 240, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47ffcb', endColorstr='#7518f0', GradientType=0);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -5;
    animation: layercorneranim 3s ease-in-out infinite alternate;
}

#hey {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.995);
    position: absolute;
    bottom: 36%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -5;
    
}


#lines {
    background-size: 40px 40px;
    background-image: repeating-linear-gradient(0deg, #000000, #878888 2px, transparent 1px, transparent 40px), repeating-linear-gradient(-90deg, #f8efef, #3725daeb 2px, transparent 2px, transparent 40px);
    height:100%;
    width: 100%;
    opacity: 1;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -4;
}


@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #f2ff04, 0 0 20px #ffffff, 0 0 30px #fff, 0 0 40px #ffe1fe, 0 0 70px #f5f06c, 0 0 80px #9135e8, 0 0 20px #f30bbd, 0 0 200px #c0ff11;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1149ff, 0 0 40px #39ff11, 0 0 20px #11c7ff, 0 0 20px #fbff11, 0 0 35px #1142e2;
    }
}

@keyframes layerupanim {
    from {
        height: 50%;
    }

    to {
        height: 100%;
    }
}

@keyframes layercorneranim {
    from {
        height: 60%;
    }

    to {
        height: 100%;
    }
}