html {
    margin: 0;
    background-image:radial-gradient(black 90%, gray);
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: darkslategray;
}

head {
margin: 0;
}

    #head-wrap-text {
        background-image: linear-gradient(to top, black 90%, gray);
    }

:root {
    --text-color: hsl(0, 0%, 100%);
}

#split-head {
    margin-bottom: 2px;
    margin-top: 2px;
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    min-height: 20vh;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1.5rem, 1rem + 8vw, 15rem);
    font-weight:500;
    text-transform: uppercase;
    color: var(--text-color);
}
.wrapper > div {
    grid-area: 1/1/-1/-1;
}
.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, rgb(34, 128, 228) 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);