* {
    box-sizing: border-box;
   
}

body {
    animation: scroll 50s linear infinite;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-size: 60%;

}

/* drop down menu */

.container {
  
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;

    background-size: 70%;
}

.container.show-nav {
transform: rotate(-20deg);
}

.container.show-nav .circle {
    transform: rotate(-70deg);
  }
  
  
.circle-container {
    position: fixed;
    top: -120px;
    left: -120px;
}

.circle {
    background-color: #d5e800a0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
  }
  

  .circle button {
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 45%;
    height: 60px;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #fff;
  }
  
  .circle button:focus {
    outline: none;
  }
  
  .circle button#open {
    left: 65%;
    top: 60%;
  }
  
  .circle button#close {
    top: 70%;
    transform: rotate(90deg);
    transform-origin: top left;
  }
  
  .container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
  }
  
  nav {
    position: fixed;
    bottom: 5vh;
    left: 0;
    z-index: 100;
  }
  
  nav ul {
    list-style-type: none;
    padding-left: 2vw;
  }
  
  nav ul li {
  
    text-transform: uppercase;
    color: #fff;
    margin: 30px 0;
    transform: translateX(-160%);
    transition: transform 0.4s ease-in;
    font-size: 2.5vh;
  }
  
  
  nav a{
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;
  }
  
  nav a:hover {
    color: #d06400;
    font-weight: bold;
    transition: all 0.2s;
  }
  


#resource-link {
    color:aqua;
}

@keyframes scroll {
    100% {
        background-position: 0px -400%;
    }
}

/* intro */

.header {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.773);
  height: 250px;
  margin-bottom: 30px;
}

#profile-image {
  display: flex;
border-radius: 100px;
height: 200px;
width: 200px;
align-self: center;
margin-left: 10px;
}


/* Expanding Cards */

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

.expand-intro h1 {
    display: flex;
    font-family: 'Montserrat' , sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    margin: 10px 0px 0px 0px; 
   background-color: rgba(255, 255, 255, 0.432);
   padding: 5px 10px;
   letter-spacing: 4px;
}

.expand-cards h2 {
  display: flex;
    position: relative;
    font-family: 'Montserrat' , sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
   margin: 0;
   background-color: rgba(0, 0, 0, 0.432);
   padding: 5px 10px;
   letter-spacing: 4px;
}

.expanding-cards {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 700px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.871);
}

.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: stretch;
    width: 100%;
    max-width: 1000px;
}


/*   -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite; */
  
@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(4deg);}
  50%{-webkit-transform: rotate(-1deg)}
  100%{-webkit-transform: rotate(4deg);}
}

@keyframes swinging{
  0%{transform: rotate(4deg);}
  50%{transform: rotate(-1deg)}
  100%{transform: rotate(4deg);}
}

.panel {
    background-size: auto 90%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 25px;
    position: relative;
    transition: flex 0.3s ease-in;
    opacity: 50%;
}

.panel.active {
  opacity: 100%;
  transition: all 1s;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
  margin: 2px, 0;
  flex: 5;
}

.panel h3 {
    position: absolute;
    bottom: 2px;
    left: 15px;
    opacity: 0;
    text-transform: uppercase;
    font-size: 4vh;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 680px) {
.panel{
   height: 300px;
    }

    .panel h3 {
      bottom: 0px;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}
