* {
    box-sizing: border-box;
}

body {
    animation: scroll 50s linear infinite;
  
}
#page-links {
    display: flex;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    gap: 3vw;
}

#resources {
    padding: 5px 20px 5px 20px;
    color: black;
    background-color: hsla(0, 0%, 100%, 0.6);
    border-radius: 20px;
    text-decoration: none;
}

#homepage {
    padding: 5px 10px 5px 10px;
    background-color: hsla(0, 0%, 100%, 0.6);
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

#grid {
    padding: 5px 30px 5px 30px;
    color: black;
    background-color: hsla(0, 0%, 100%, 0.6);
    border-radius: 20px;
    letter-spacing: 0.2vw;
    text-decoration: none;
}

.nav-wrapper {
   /* animation: scroll 100s linear infinite;
    background: url("https://marketplace.canva.com/EAFTQEWI-Ko/1/0/1600w/canva-black-sky-galaxy-stars-desktop-wallpaper-iWMZ0xN6KXs.jpg"),
        #111111;
    color: #eee;
    background-position: center;
    background-size: 100%; */
    border-radius: 10px;
    height: 50px;
    min-width: 360px;
    display: flex;
    justify-content: left;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    margin-left: 4vw;
} 



@keyframes scroll {
    100% {
        background-position: 0px -400%;
    }
}

/* Expanding Cards */

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


.expand-intro h1 {
    display: flex;
    font-family: 'Montserrat' , sans-serif;
    text-transform: uppercase;
    font-size: 30px;
   writing-mode: vertical-rl;
   transform: rotate(180deg);
   margin: 0;
   background-color: rgba(255, 255, 255, 0.432);
   padding: 15px 0px;
   letter-spacing: 5px;
   border-radius: 25px;
}

.expanding-cards {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.625);
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.5s ease-in;
}


.panel h3 {
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0;
    text-transform: uppercase;
    font-size: 4vh;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}