* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
position:absolute;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  animation: scroll 50s linear infinite;
  background-size: 70%;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px;
}

.nav-link {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  text-align: center;
  width: 100%;

}

.nav-wrapper .nav-link a {
  display: flex;
  justify-content: center;
  padding: 5px 10px 5px 10px;
 
  color: rgb(234, 255, 8);
  letter-spacing: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.467);
  border-radius: 50px;
  text-shadow: 0 0 2px white, 0 0 5px white;
    background-color: #000000d3;
}

.nav-wrapper .nav-link a:hover,
.nav-wrapper .nav-link a.active {
  color: yellow;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 3px white, 0 0 10px white;
}


.wrapper .sidebar {
  transition: all 0.5s ease;
  padding: 10px;
  height: 100%;
}

.sidebar {
  transition: all 0.5s ease;
  margin: 0;
  height: 100%;
}


.wrapper .profile {
  text-align: center;
  padding: 10px;
}

.profile p {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.775);
  padding: 5px;
  justify-content: center;
  border-radius: 50px;
  border-bottom: 4px rgba(255, 255, 255, 0.168) solid;
  margin-bottom: 5px;
}

.wrapper .sidebar .profile h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 5px;
  animation: flicker  2s linear infinite;
  font-size: 35px;
  color: black;
}


.resources  ul li a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3px solid #ffffff3d;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-align: center;
  height: 200px;
  border-radius: 50px;
  transition: 2.5s;
}

.item {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace bold;
  font-size: 30px;
  letter-spacing: 6px;
  text-shadow: 0 0 1px rgb(255, 255, 26), 0 0 5px yellow, 0 0 10px white;
 transition: 1s;
}

a {
  background-color: rgba(0, 0, 0, 0.546);
}


@media (min-width: 500px) {

.resources ul li a .description {
  opacity: 0;
  line-height: 0px;
}

.resources ul li a:hover,
.resources ul li a.active {
  color: #000000;
  background: rgb(0, 0, 0);
  border-right: 2px solid rgb(88, 124, 255);
  color: rgba(255, 255, 255, 0.827);
  border-radius: 50px;
  box-shadow: 0 0 5px white, 0 0 9px white, 0 0 15px white, 0 0 20px white, 0 0 30px white;
  transition: 0.5s;
  min-height: 200px;
  margin: 25px;
}


.resources ul li a:hover .description,
.resources ul li a:active .description {
  opacity: 100;
  position: relative;
  text-align: center;
  padding: 10px;
  line-height: 22px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}


.resources ul li a:hover .item,
.resources ul li a:active .item {
  font-size: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-shadow: 0 0 2px rgb(255, 255, 26), 0 0 5px yellow;
  color: black;
  opacity: 50%;
  padding: 10px 0px 0px 25px;
  transition: 2s;
  text-align: center;
}
}

@media (max-width: 490px) {
  
  .description {
   display: none;
  }
}






@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, .4), 1px -1px 0 rgba(255, 255, 255, .4), -1px 1px 0 rgba(255, 255, 255, .4), 1px 1px 0 rgba(255, 255, 255, .4), 0 -2px 8px, 0 0 2px, 0 0 5px #fff200, 0 0 15px rgb(255, 249, 68), 0 0 2px #ffc400, 0 2px 3px #000;
 }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
 }
}